{% load static %}

<form class="ui mini modal" style="display: block !important;" method="post" action="/resources/addspeciality/">
    {% csrf_token %}
    {#<div class="ui segment" style="display: block !important;">#}
    <div class="header" style="text-align: right">
        اضافه کردن نوع تخصص جدید
    </div>
    <div class="content">
        <div class="ui left icon input">
            <i class="wrench icon"> </i>
            <input type="text" name="name" required="" id="id_name" placeholder="نام تخصص جدید">
        </div>


    </div>
    <div class="left aligned actions" style="overflow: hidden;">
        <button class="ui positive right labeled icon button" type="submit" style="float: left;" value="ذخیره">
            <i class="checkmark icon"></i>
            ذخیره
        </button>
        <div class="ui black deny button" style="float: left;">
            انصراف
        </div>
    </div>
</form>
