{% extends 'core/base.html' %}
{% load static %}
{% block content %}



    <div style="padding: 5em 0">
        <div style="margin-bottom: 3em" id="form-section">
            <div id="auth-form" class="center-text" style="max-width: 352px; margin: auto">
                <div class="ui stacked segments" style="border: none; background: whitesmoke">


                    <div class="ui segment center-text">
                        <div class="ui small header">
                            تعیین کارشناس شهرستان
                        </div>
                    </div>

                    <div class="ui segment">
                        <form class="ui large form" style="text-align: center" method="post"
                              novalidate>
                            {% csrf_token %}
                            <div class="field">
                                <div class="ui right icon input">
                                    <i class="id card icon"></i>
                                    <input dir="rtl" id="identification_number" type="text" name="identification_number"
                                           autocomplete="identification_number" required="" placeholder="کد ملی" style="text-align: right;">

                                </div>

                            </div>

                            <div class="field">
                                <select class="ui fluid right aligned search dropdown">
                                    <option value="">بخش</option>
                                    <option value="AL">کشور سوئد</option>
                                    <option value="AK">استان البرز</option>
                                    <option value="AZ">استان تهران</option>
                                    <option value="AR">استان فارس</option>
                                    <option value="CA">شهرستان شیراز</option>
                                    <option value="CO">شهرستان فیروزکوه</option>
                                    <option value="CT">شهرستان تهران</option>
                                    <option value="DE">شهرستان کرج</option>
                                    <option value="DC">شهرستان قم</option>
                                    <option value="FL">شهرستان دماوند</option>
                                    <option value="GA">شهرستان اصفهان</option>
                                    <option value="HI">استان اصفهان</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                </select>
                            </div>
                            <button type="submit" class="ui fluid large primary submit button">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}