{% extends 'core/base.html' %}
{% load static %}
{% block content %}



    <div style="padding: 5em 0">
        <div style="margin-bottom: 3em" id="form-section">
            <div id="auth-form" class="center-text" style="max-width: 352px; margin: auto">
                <div class="ui stacked segments" style="border: none; background: whitesmoke">


                    <div class="ui segment center-text">
                        <div class="ui small header">
                            تعیین کارشناس شهرستان
                        </div>
                    </div>

                    <div class="ui segment">
                        <form class="ui large form" style="text-align: center" method="post"
                              novalidate>
                            {% csrf_token %}
                            <div class="field">
                                <div class="ui right icon input">
                                    <i class="phone icon"></i>
                                    <input dir="rtl" id="phone_number" type="text" name="phone_number"
                                           autocomplete="phone_number" required="" placeholder="شماره تماس" style="text-align: right;">

                                </div>

                            </div>
                            <button type="submit" class="ui fluid large primary submit button">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



        <script>
            document.addEventListener('DOMContentLoaded', function () {
                $('.ui.form').form({
                    inline: true,
                    fields: {
                        identification_number: {
                            identifier: 'identification_number',
                            rules: [
                                {type: 'empty', prompt: 'لطفا شماره تماس را وارد کنید.'}
                            ]
                        }
                    }
                });
            });
        </script>
{% endblock %}