{% load static %}

{#<div class="" style="display: block !important;">#}
{#<div class="ui segment" style="display: block !important;">#}
<div class="header" style="text-align: right">
    ویرایش تیم
</div>
<div class="content">
    <form class="ui form" id="form1" method="post" action="/resources/{% if team %}changeteam/{{ team.id }}{% else %}addteam{% endif %}/">
        {% csrf_token %}

        <div class="field" style="">
            <label>تخصص</label>
            <select class="ui fluid right aligned search dropdown" name="spaciality">
                {% for speciality in specialities %}
                    <option id="{{ speciality.id }}">{{ speciality.name }}</option>
                {% endfor %}
            </select>
        </div>

        <table class="ui very basic right aligned table" style="text-align: right">
            <thead>
            <tr>
                <th colspan="2" style="display: flex; justify-content: space-between; align-items: center">
                    <h3>اعضای تیم</h3>
                    <a href="#"><i class="left floated small black plus icon"></i></a>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for member in team.members.all %}

                <tr id="{{ forloop.counter }}">
                    <td class="ui left icon input">
                        <i class="phone icon"> </i>
                        <input type="text" value="{{ member.user.phone_number }}" name="phone{{ forloop.counter }}">
                    </td>
                    <td>
                        <div class="ui checkbox">
                            <input type="checkbox" name="remove{{ forloop.counter }}" tabindex="0" class="hidden">
                            <label>حذف</label>
                        </div>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>


    </form>

</div>
<div class="left aligned actions" style="overflow: hidden;">
    <button class="ui positive right labeled icon button" type="submit" style="float: left;" form="form1" value="ذخیره">
        <i class="checkmark icon"></i>
        ذخیره
    </button>
    <div class="ui black deny button" style="float: left;">
        انصراف
    </div>
</div>
{#</div>#}


<script>
    $(document).ready(function () {

        $('.ui.checkbox')
            .checkbox();

        $('.content').find('.plus.icon').mouseover(function () {
            $(this).css('color', 'green');
        });
        $('.content').find('.plus.icon').mouseout(function () {
            $(this).css('color', 'black');
        });
    });

    $('.content .plus').on('click', function (event) {

        let num = 5;
        num = parseInt($('tbody').children().last().attr('id'))+1;
        if(!$.isNumeric( num))
            num = 1;
        console.log(`New ID is: ${num}`);

        $('.content').find('.table').append('<tr id="'+num+'">\n' +
            '                    <td class="ui left icon input">\n' +
            '                        <i class="phone icon"> </i>\n' +
            '                        <input type="text" placeholder="شماره تماس" name="phone' + num + '">\n' +
            '                    </td>\n' +
            '                    <td>\n' +
            '                        <div class="ui checkbox">\n' +
            '                            <input type="checkbox" name="remove' + num + '" tabindex="0" class="hidden">\n' +
            '                            <label>حذف</label>\n' +
            '                        </div>\n' +
            '                    </td>\n' +
            '                </tr>\n');
    });

</script>