{% extends 'core/base.html' %}
{% load static %}
{% block content %}


    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/css/jquery-editable.css"
          rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/js/jquery-editable-poshytip.min.js"></script>

    <div class="ui grid" id="resources">
        <div class="ui six wide column">
            <div class="ui segments" id="teams" style="opacity: 0.9">
                <div class="ui center aligned segment"
                     style="display: flex; justify-content: space-between; align-items: center; height: 65px;">
                    <h3>لیست تیم&zwnj;ها</h3>
                    <a href="#" style="color:black;"> <i class="left floated small plus icon"
                                                         id="add-team-icon"></i></a>
                </div>

                <div class="ui basic segment">
                    <div class="ui styled fluid accordion" id="accordion" style="line-height: 2; margin-top: 5px">
                        <div class="title" style="color: rgba(0, 0, 0, 0.87)">
                            <div class="ui  grid" id="1">
                                <div class="ui four wide column">
                                    <i class="ui angle left icon"></i>
                                    آهنگر
                                </div>
                                <div class="ui three wide column">
                                    ۵ نفر
                                </div>

                                <div class="ui five wide column">
                                    فارس، شیراز

                                </div>
                                <div class="ui four wide column">
                                    <a style="color: black" href="">
                                        <i class="times icon"></i></a>
                                    <i class="edit icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content" id="1-content">
                            {% include 'core/teamdetails.html' %}
                        </div>

                        <div class="title" style="color: rgba(0, 0, 0, 0.87)">
                            <div class="ui  grid" id="2">
                                <div class="ui four wide column">
                                    <i class="ui angle left icon"></i>
                                    آهنگر
                                </div>
                                <div class="ui three wide column">
                                    ۵ نفر
                                </div>

                                <div class="ui five wide column">
                                    فارس، شیراز

                                </div>
                                <div class="ui four wide column">
                                    <a style="color: black" href="">
                                        <i class="times icon"></i> </a>
                                    <i class="edit icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            {% include 'core/teamdetails.html' %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="ui four wide column">
            <div class="ui segments" style="opacity: 0.9">
                <div class="ui right aligned segment" style="width: 100%; height: 65px">
                    <h3 style="text-align: right">لیست ماشین‌آلات</h3>
                </div>
                <div class="ui basic segment" style="margin-top: 5px">
                    <div class="ui segments">
                        <div class="ui segment">
                            <div class="ui grid">
                                <div class="ui nine wide column">
                                    جرثقیل
                                </div>
                                <div class="ui seven wide column machinery">
                                    <a href="" style="color: black"><i class="right floated plus icon"></i></a>
                                    18
                                    <a href="" style="color: black"><i class="left floated minus icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment">
                            <div class="ui grid">
                                <div class="ui nine wide column">
                                    لودر
                                </div>
                                <div class="ui seven wide column">
                                    <a href="" style="color: black"><i class="right floated plus icon"></i></a>
                                    20
                                    <a href="" style="color: black"><i class="left floated minus icon"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="ui three wide column">
            <div class="ui segments" id="mission" style="opacity: 0.9; overflow: hidden">
                <div class="ui segment" style="display: flex; justify-content: space-between; align-items: center">
                    <h3>انواع ماموریت</h3>
                    <a href="#" style="color: black"> <i class="left floated small plus icon"></i> </a>
                </div>
                <div class="ui basic segment" id="list"
                     style="margin-top: 5px;/* padding: initial; */overflow: hidden;">
                    <div class="ui segments content">
                        <div class="ui segment"
                             style="display: flex; justify-content: space-between; align-items: center">
                            گاردریل
                            <div>
                                <a style="color: black" href="">
                                    <i class="left floated times icon"></i></a>
                                <a style="color: black" href="#">
                                    <i class="left floated edit icon" id="2"></i></a>
                            </div>
                        </div>
                        <div class="ui segment"
                             style="display: flex; justify-content: space-between; align-items: center">
                            گاردریل
                            <div>
                                <a style="color: black" href="">
                                    <i class="left floated times icon"></i></a>
                                <a style="color: black" href="#">
                                    <i class="left floated edit icon" id="2"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="ui three wide column">
            <div class="ui segments" id="speciality" style="opacity: 0.9; overflow: hidden">
                <div class="ui segment" style="display: flex; justify-content: space-between; align-items: center">
                    <h3>انواع تخصص</h3>
                    <a href="#" style="color: black"> <i class="left floated small plus icon"></i> </a>
                </div>
                <div class="ui basic segment" id="list"
                     style="margin-top: 5px;/* padding: initial; */overflow: hidden;">
                    <div class="ui segments content">
                        <div class="ui segment"
                             style="display: flex; justify-content: space-between; align-items: center">
                            آهنگر

                            <div>
                                <a style="color: black" href="">
                                    <i class="left floated times icon"></i></a>
                                <a style="color: black" href="#">
                                    <i class="left floated edit icon" id="2"></i></a>
                            </div>
                        </div>
                        <div class="ui segment"
                             style="display: flex; justify-content: space-between; align-items: center">
                            متخصص گاو

                            <div>
                                <a style="color: black" href="">
                                    <i class="left floated times icon"></i></a>
                                <a style="color: black" href="#">
                                    <i class="left floated edit icon" id="2"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>





    <script>
        $('#speciality .plus').on('click', function (event) {
            $('#speciality').find('.content').append(' <div class="ui segment"\n' +
                '                             style="display: flex; justify-content: space-between; align-items: center">\n' +
                '                            <form class="ui form">\n' +
                '                                <input type="text" placeholder="نام تخصص">\n' +
                '                            </form>\n' +
                '                        </div>');

            var element = document.getElementById("speciality-save-icon");
            //If it isn't "undefined" and it isn't "null", then it exists.
            if (typeof (element) != 'undefined' && element != null) {
                console.log('save-icon already exists!!')
            } else {
                $('#speciality').find('#list').append(' <a class="ui segment" href="" id="speciality-save-icon" style="width: fit-content;float: left;">\n' +
                    '                        <i class="green save icon"></i>\n' +
                    '                    </div>');
            }

        });

        $('#mission .plus').on('click', function (event) {
            $('#mission').find('.content').append(' <div class="ui segment"\n' +
                '                             style="display: flex; justify-content: space-between; align-items: center">\n' +
                '                            <form class="ui form">\n' +
                '                                <input type="text" placeholder="نام ماموریت">\n' +
                '                            </form>\n' +
                '                        </div>');

            var element = document.getElementById("mission-save-icon");
            //If it isn't "undefined" and it isn't "null", then it exists.
            if (typeof (element) != 'undefined' && element != null) {
                console.log('save-icon already exists!!')
            } else {
                $('#mission').find('#list').append(' <a class="ui segment" href="" id="mission-save-icon" style="width: fit-content;float: left;">\n' +
                    '                        <i class="green save icon"></i>\n' +
                    '                    </div>');
            }

        });

        $('.circle.icon')
            .popup()
        ;
    </script>


    <script>
        $(document).ready(function () {

            $('.issuecard').click(function () {
                var id = $(this).attr('id');
                var path = "/resources/teamdetails/" + id;
                $("#secretbox").load(path);
                $("#secretbox").modal('show');

            });

            $('#add-team-icon').click(function () {
                var path = "/resources/changeteam/" + 0;
                $("#secretbox").load(path);
                $("#secretbox").modal('show');

            });

            $('#teams .edit.icon').click(function () {
                var id = $(this).parent().parent().attr('id');
                var path = "/resources/changeteam/" + id;
                {#$("#1-content").load(path);#}
                $("#secretbox").load(path);
                $("#secretbox").modal('show');

            });


            $('#mission .edit.icon').click(function () {
                var id = $(this).attr('id');
                var path = "/resources/changemission/" + id;
                {#$("#1-content").load(path);#}
                $("#secretbox").load(path);
                $("#secretbox").modal('show');

            });


            $('#speciality .edit.icon').click(function () {
                var id = $(this).attr('id');
                var path = "/resources/changespeciality/" + id;
                {#$("#1-content").load(path);#}
                $("#secretbox").load(path);
                $("#secretbox").modal('show');

            });

            $('#resources').find('.times.icon').mouseover(function () {
                $(this).css('color', 'red');
            });
            $('#resources').find('.times.icon').mouseout(function () {
                $(this).css('color', 'black');
            });


            $('#resources').find('.plus.icon').mouseover(function () {
                $(this).css('color', 'green');
            });
            $('#resources').find('.plus.icon').mouseout(function () {
                $(this).css('color', 'black');
            });


            $('#resources').find('.minus.icon').mouseover(function () {
                $(this).css('color', 'red');
            });
            $('#resources').find('.minus.icon').mouseout(function () {
                $(this).css('color', 'black');
            });


            $('#resources').find('.edit.icon').mouseover(function () {
                $(this).css('color', 'orange');
            });
            $('#resources').find('.edit.icon').mouseout(function () {
                $(this).css('color', 'black');
            });
        });
    </script>


    <script>
        $(document).ready(function () {

            $('.ui.checkbox')
                .checkbox()
            ;
        });

    </script>

{% endblock %}