{% extends 'core/base.html' %}
{% load static %}
{% block content %}


    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/css/jquery-editable.css"
          rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/js/jquery-editable-poshytip.min.js"></script>

    <div class="ui grid">
        <div class="ui six wide column">
            <div class="ui segments">
                <div class="ui center aligned segment" style="width: 100%">
                    <h2>لیست تیم&zwnj;ها</h2>
                </div>

                <div class="ui basic segment">
                    <div class="ui styled fluid accordion" style="line-height: 2; margin-top: 5px">
                        <div class="title" style="color: rgba(0, 0, 0, 0.87)">
                            <div class="ui  grid">
                                <div class="ui four wide column">
                                    <i class="ui angle left icon"></i>
                                    آهنگر
                                </div>
                                <div class="ui four wide column">
                                    <i class="user icon"></i>
                                    ۵ نفر
                                </div>

                                <div class="ui eight wide column">
                                    <i class="map marker alternate icon"></i>
                                    استان فارس، شهرستان شیراز
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <p class="transition hidden">A dog is a type of domesticated animal. Known for its loyalty
                                and
                                faithfulness, it can be found as a welcome guest in many households across the
                                world.</p>
                        </div>

                        <div class="title" style="color: rgba(0, 0, 0, 0.87)">
                            <div class="ui  grid">
                                <div class="ui four wide column">
                                    <i class="ui angle left icon"></i>
                                    آهنگر
                                </div>
                                <div class="ui four wide column">
                                    <i class="user icon"></i>
                                    ۵ نفر
                                </div>

                                <div class="ui eight wide column">
                                    <i class="map marker alternate icon"></i>
                                    استان فارس، شهرستان شیراز
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <p class="transition hidden">A dog is a type of domesticated animal. Known for its loyalty
                                and
                                faithfulness, it can be found as a welcome guest in many households across the
                                world.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="ui four wide column">
            <div class="ui segments">
                  <div class="ui center aligned segment" style="width: 100%">
                    <h2>لیست ماشین‌آلات</h2>
                </div>
                <div class="ui basic segment" style="margin-top: 5px">
                    <div class="ui segments">
                        <div class="ui segment">
                            <div class="ui grid">
                                <div class="ui ten wide column">
                                    <i class="truck icon"></i>
                                    جرثقیل
                                </div>
                                <div class="ui six wide column">
                                    تعداد: ۲۲
                                </div>
                            </div>
                        </div>
                        <div class="ui segment">
                            <div class="ui grid">
                                <div class="ui ten wide column">
                                    <i class="truck icon"></i>
                                    لودر
                                </div>
                                <div class="ui six wide column">
                                    تعداد: ۲۱
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="ui three wide column">
            <div class="ui segments">
                  <div class="ui center aligned segment" style="width: 100%">
                    <h2>لیست ماموریت‌ها</h2>
                </div>
                <div class="ui basic segment" style="margin-top: 5px">
                    <div class="ui segments">
                        <div class="ui segment">
                            <i class="tasks icon"></i>
                            نام ماموریت ۱
                        </div>
                        <div class="ui segment">
                            <i class="tasks icon"></i>
                            نام ماموریت ۲
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="ui three wide column">
            <div class="ui segments">
                  <div class="ui center aligned segment" style="width: 100%">
                    <h2>لیست تخصص‌ها</h2>
                </div>
                <div class="ui basic segment" style="margin-top: 5px">
                    <div class="ui segments">
                        <div class="ui segment">
                            <i class="wrench icon"></i>
                            نام تخصص ۱
                        </div>
                        <div class="ui segment">
                            <i class="wrench icon"></i>
                            نام تخصص ۲
                        </div>

                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>



{% endblock %}