{% extends 'core/base.html' %}
{% load static %}
{% block content %}


    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/css/jquery-editable.css"
          rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/js/jquery-editable-poshytip.min.js"></script>

    <div class="ui grid">
        <div class="ui six wide column">
            <div class="ui segments" style="opacity: 0.9">
                <div class="ui center aligned segment" style="width: 100%">
                    <h2>لیست تیم&zwnj;ها</h2>
                </div>

                <div class="ui basic segment">
                    <div class="ui styled fluid accordion" style="line-height: 2; margin-top: 5px">
                        <div class="title" style="color: rgba(0, 0, 0, 0.87)">
                            <div class="ui  grid">
                                <div class="ui four wide column">
                                    <i class="ui angle left icon"></i>
                                    آهنگر
                                </div>
                                <div class="ui four wide column">
                                    <i class="user icon"></i>
                                    ۵ نفر
                                </div>

                                <div class="ui eight wide column">
                                    <i class="map marker alternate icon"></i>
                                    استان فارس، شیراز
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            {% include 'core/teamdetails.html' %}
                        </div>

                        <div class="title" style="color: rgba(0, 0, 0, 0.87)">
                            <div class="ui  grid">
                                <div class="ui four wide column">
                                    <i class="ui angle left icon"></i>
                                    آهنگر
                                </div>
                                <div class="ui four wide column">
                                    <i class="user icon"></i>
                                    ۵ نفر
                                </div>

                                <div class="ui eight wide column">
                                    <i class="map marker alternate icon"></i>
                                    استان فارس، شیراز
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            {% include 'core/teamdetails.html' %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="ui four wide column">
            <div class="ui segments" style="opacity: 0.9">
                  <div class="ui center aligned segment" style="width: 100%">
                    <h2>لیست ماشین‌آلات</h2>
                </div>
                <div class="ui basic segment" style="margin-top: 5px">
                    <div class="ui segments">
                        <div class="ui segment">
                            <div class="ui grid">
                                <div class="ui nine wide column">
                                    جرثقیل
                                </div>
                                <div class="ui seven wide column">
                                    <i class="right floated plus icon"></i>
                                    18
                                    <i class="left floated minus icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment">
                            <div class="ui grid">
                                <div class="ui nine wide column">
                                    لودر
                                </div>
                                <div class="ui seven wide column">
                                    <i class="right floated plus icon"></i>
                                    20
                                    <i class="left floated minus icon"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="ui three wide column">
            <div class="ui segments" style="opacity: 0.9">
                  <div class="ui center aligned segment" style="width: 100%">
                    <h2>انواع ماموریت</h2>
                </div>
                <div class="ui basic segment" style="margin-top: 5px">
                    <div class="ui segments">
                        <div class="ui segment">
                                تعمیر گاردریل
                            <i class="left floated times icon"></i>
                        </div>
                        <div class="ui segment">
                            تعمیر آسفالت
                            <i class="left floated times icon"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>




        <div class="ui three wide column">
            <div class="ui segments" id="speciality" style="opacity: 0.9">
                  <div class="ui segment" style="display: flex; justify-content: space-between; align-items: center">
                    <h3>انواع تخصص</h3>
                    <i class="left floated small plus icon"></i>
                </div>
                <div class="ui basic segment" style="margin-top: 5px">
                    <div class="ui segments content" id="abdollah">
                        <div class="ui segment">
                            نام تخصص ۱
                            <i class="left floated times icon"></i>
                        </div>
                        <div class="ui segment">
                            نام تخصص ۲
                            <i class="left floated times icon"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>





<script>

    $('#speciality .plus').on('click', function (event) {
        console.log($(this).find('#abdollah'));
        $('#speciality').find('#abdollah').append('<div class="ui segment">\n' +
            '                            نام تخصص ۲\n' +
            '                            <i class="left floated times icon"></i>\n' +
            '                        </div>');
    })

    $('.circle.icon')
        .popup()
    ;
</script>


<script>
    $(document).ready(function () {
        $('.issuecard').click(function (event) {
            var id = $(this).attr('id');
            var path = "/resources/teamdetails/" + id;
            $("#secretbox").load(path);
            $("#secretbox").modal('show');

        });
    });
</script>
{% if question_id != None %}
    <script>
        var path = "/resources/teamdetails/" + "{{question_id}}"
        $("#secretbox").load(path);
        $("#secretbox").modal('show');
    </script>
{% endif %}




{% endblock %}