{% extends 'reporting/../../../core/templates/core/base.html' %}
{% load static %}
{% block semantic-css %}
    <link
            rel="stylesheet"
            href="https://cdn.rtlcss.com/semantic-ui/2.4.1/semantic.rtl.min.css"
            integrity="sha384-yXUIpeQfH3cuk6u6Mwu8uyJXB2R3UOLvcha1343UCMA2TA7lQ14BFmrudI6LAP8A"
            crossorigin="anonymous">
{% endblock %}
{% block content %}


    <script src="https://semantic-ui.com/javascript/library/tablesort.js"></script>

    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui row">

                <form class="ui form" method="post">
                    {% csrf_token %}
                    <div class="fields">
                        <div class="field" style="width: 400px">
                            <select class="ui fluid right aligned search dropdown">
                                <option value="">بخش</option>
                                <option value="AL">کشور سوئد</option>
                                <option value="AK">استان البرز</option>
                                <option value="AZ">استان تهران</option>
                                <option value="AR">استان فارس</option>
                                <option value="CA">شهرستان شیراز</option>
                                <option value="CO">شهرستان فیروزکوه</option>
                                <option value="CT">شهرستان تهران</option>
                                <option value="DE">شهرستان کرج</option>
                                <option value="DC">شهرستان قم</option>
                                <option value="FL">شهرستان دماوند</option>
                                <option value="GA">شهرستان اصفهان</option>
                                <option value="HI">استان اصفهان</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                            </select>
                        </div>

                        <div class="field">
                            <input type="submit" class="ui button" value="فیلتر"></input>
                        </div>
                    </div>


                </form>


            </div>
            <div class="ui deviding header" style="min-height: 20px; text-align: center"><h1>زیربخش‌های استان فارس</h1>
            </div>
            <div class="ui row" style="text-align: center"><h4>
                ستون‌ها قابل مرتب‌سازی هستند!
            </h4></div>

            <table class="ui sortable striped  basic table" id="table"
                   style="text-align: right; background-color: rgba(255, 255, 255, 0.7)">
                <thead>
                <tr>
                    <th class="sorted descending">زیربخش</th>
                    <th class="">تعداد ماموریت</th>
                    <th class="">تعداد مشکل</th>
                    <th class="">میانگین امتیاز</th>
                    <th class="">درصد موفقیت ماموریت‌ها</th>
                    <th class="">تعداد تیم</th>
                </tr>
                </thead>
                <tbody>


                <tr>
                    <td>شیراز</td>
                    <td>12</td>
                    <td>56</td>
                    <td>4.3</td>
                    <td>20%</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>مرودشت</td>
                    <td>5</td>
                    <td>34</td>
                    <td>4.1</td>
                    <td>60%</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>کازرون</td>
                    <td>2</td>
                    <td>53</td>
                    <td>4.6</td>
                    <td>42%</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>سروستان</td>
                    <td>32</td>
                    <td>164</td>
                    <td>3.8</td>
                    <td>34%</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>دشت ارژن</td>
                    <td>4</td>
                    <td>33</td>
                    <td>4.8</td>
                    <td>73%</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>دشت ارژن</td>
                    <td>4</td>
                    <td>33</td>
                    <td>4.8</td>
                    <td>73%</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>دشت ارژن</td>
                    <td>4</td>
                    <td>33</td>
                    <td>4.8</td>
                    <td>73%</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>دشت ارژن</td>
                    <td>4</td>
                    <td>33</td>
                    <td>4.8</td>
                    <td>73%</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>دشت ارژن</td>
                    <td>4</td>
                    <td>33</td>
                    <td>4.8</td>
                    <td>%73</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>دشت ارژن</td>
                    <td>4</td>
                    <td>33</td>
                    <td>4.8</td>
                    <td>73%</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>دشت ارژن</td>
                    <td>4</td>
                    <td>33</td>
                    <td>4.8</td>
                    <td>73%</td>
                    <td>3</td>
                </tr>
            </table>

        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('table').tablesort()
            console.log('hello!');
        });
    </script>

{% endblock %}