{% extends 'reporting/../../../core/templates/core/base.html' %}
{% load static %}
{% block semantic-css %}
    <link
            rel="stylesheet"
            href="https://cdn.rtlcss.com/semantic-ui/2.4.1/semantic.rtl.min.css"
            integrity="sha384-yXUIpeQfH3cuk6u6Mwu8uyJXB2R3UOLvcha1343UCMA2TA7lQ14BFmrudI6LAP8A"
            crossorigin="anonymous">
{% endblock %}
{% block content %}


    <script src="https://semantic-ui.com/javascript/library/tablesort.js"></script>

    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui row">

                <form class="ui form" method="post">
                    {% csrf_token %}
                    <div class="fields">

                        <div class="field" style="width: 400px">
                            {{ form.region }}
                        </div>

                        {#                            <select class="ui fluid right aligned search dropdown">#}

                        <div class="field">
                            <input type="submit" class="ui button" value="فیلتر"></input>
                        </div>
                    </div>


                </form>


            </div>
            <div class="ui deviding header" style="min-height: 20px; text-align: center"><h1>زیربخش‌های استان فارس</h1>
            </div>
            <div class="ui row" style="text-align: center"><h4>
                ستون‌ها قابل مرتب‌سازی هستند!
            </h4></div>

            <table class="ui sortable striped  basic table" id="table"
                   style="text-align: right; background-color: rgba(255, 255, 255, 0.7)">
                <thead>
                <tr>
                    <th class="sorted descending">زیربخش</th>
                    <th class="">تعداد ماموریت</th>
                    <th class="">تعداد مشکل</th>
                    <th class="">میانگین امتیاز</th>
                    <th class="">درصد موفقیت ماموریت‌ها</th>
                    <th class="">تعداد تیم</th>
                </tr>
                </thead>
                <tbody>

                {% for region in report.subregions_info %}
                    <tr>
                        {% for value in region %}
                            <td>{% if forloop.counter == 5 %}%{% endif %}{{ value }}</td>
                        {% endfor %}
                        {#                    <td>شیراز</td>#}
                        {#                    <td>12</td>#}
                        {#                    <td>56</td>#}
                        {#                    <td>4.3</td>#}
                        {#                    <td>20%</td>#}
                        {#                    <td>6</td>#}
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('table').tablesort()
            console.log('hello!');
        });
    </script>

{% endblock %}