{% extends 'reporting/base.html' %}
{% load static %}
{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>


قالب روزها: yyyy-mm-dd

<form  method="post">
{% csrf_token %}
{{ form }}

    <input type="submit" value="فیلتر">

</form>

{% include 'reporting/parts/simple_bar.html' with name='teams_chart' color='green' objs=teams_report.data description="تعداد تیم‌های فعال در طول زمان" %}
{% include 'reporting/parts/simple_bar.html' with name='issues_chart' color='green' objs=issues_report.data description="تعداد مشکلات در طول زمان" %}
{% include 'reporting/parts/simple_bar.html' with name='missions_chart' color='green' objs=missions_report.data description="تعداد ماموریت‌ها در طول زمان" %}
{% include 'reporting/parts/simple_bar.html' with name='scores_chart' color='green' objs=scores_report.data description="امتیاز در طول زمان" %}

{#<canvas id="teamChart"></canvas>#}
{##}
{#<canvas id="issueChart"></canvas>#}
{##}
{#<script>#}
{#    var team_chart = new Chart(document.getElementById("teamChart").getContext('2d'), {{ teamChartJSON | safe }});#}
{##}
{#    var issue_chart = new Chart(document.getElementById("issueChart").getContext('2d'), {{ issuesChartJSON | safe }});#}
{#</script>#}


{% endblock %}