{% extends 'reporting/../../../core/templates/core/base.html' %}
{% load static %}
{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

قالب روزها: yyyy-mm-dd

<form  method="post">
{% csrf_token %}
{{ form }}

    <input type="submit" value="فیلتر">

</form>

    <div class="ui deviding header" style="height: 20px;"></div>
    <div id="timereportsContainer" style="width:100%; height:400px; margin: auto;"></div>

    <div class="ui deviding header" style="height: 20px"></div>

    <div id="pointsContainer" style="width:100%; height:400px; margin: auto"></div>
    <div style=" margin: 100px"></div>

{#{% include 'reporting/parts/simple_bar.html' with name='teams_chart' color='green' objs=teams_report.data description="تعداد تیم‌های فعال در طول زمان" %}#}
{#{% include 'reporting/parts/simple_bar.html' with name='issues_chart' color='green' objs=issues_report.data description="تعداد مشکلات در طول زمان" %}#}
{#{% include 'reporting/parts/simple_bar.html' with name='missions_chart' color='green' objs=missions_report.data description="تعداد ماموریت‌ها در طول زمان" %}#}
{#{% include 'reporting/parts/simple_bar.html' with name='scores_chart' color='green' objs=scores_report.data description="امتیاز در طول زمان" %}#}

{#<canvas id="teamChart"></canvas>#}
{##}
{#<canvas id="issueChart"></canvas>#}
{##}
{#<script>#}
{#    var team_chart = new Chart(document.getElementById("teamChart").getContext('2d'), {{ teamChartJSON | safe }});#}
{##}
{#    var issue_chart = new Chart(document.getElementById("issueChart").getContext('2d'), {{ issuesChartJSON | safe }});#}
{#</script>#}

<script>
Highcharts.chart('timereportsContainer', {
  chart: {
    type: 'column',
        backgroundColor: 'rgba(255, 255, 255, 0.50)'
  },
  title: {
    text: 'گزارش کشور سوئد در بازه زمانی'
  },
  subtitle: {
    text: 'فروردین الی اسفند ۱۳۹۹'
  },
  xAxis: {
    categories: [
      'فروردین',
      'اردیبهشت',
      'خرداد',
      'تیر',
      'مرداد',
      'شهریور',
      'مهر',
      'آبان',
      'آذر',
      'دی',
      'بهمن',
      'اسفند'
    ],
    crosshair: true
  },
  yAxis: {
    min: 0,
    title: {
      text: 'تعداد'
    }
  },
  tooltip: {
    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
      '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
    footerFormat: '</table>',
    shared: true,
    useHTML: true
  },
  plotOptions: {
    column: {
      pointPadding: 0.2,
      borderWidth: 0,
      stacking: 'normal'
    }
  },
  series: [{
    name: 'تعداد تیم',
    data: [10, 12, 15, 30, 25, 22, 14, 15, 42, 41, 30, 15],
      stack: '#team'

  }, {
    name: 'تعداد مشکلات',
    data: [30, 31, 23, 53, 54, 55, 40, 55, 100, 121, 88, 40],
      stack: '#problems'

  }, {
    name: 'تعداد ماموریت‌های موفق',
    data: [28, 30, 19, 49,  49, 40, 39, 55, 80, 100, 86, 35],
      stack: '#mission'

  }, {
    name: 'تعداد ماموریت‌های خطا خورده',
    data: [2,   1, 4,  4,   5,  15, 1,  0,  20, 20,   2, 5],
      stack: '#mission'

  }]
});

Highcharts.chart('pointsContainer', {
    chart: {
        type: 'line',
        backgroundColor: 'rgba(255, 255, 255, 0.50)'
    },
   title: {
    text: 'میانگین امتیاز ماموریت‌های کشور سوئد در بازه زمانی'
  },
  subtitle: {
    text: 'فروردین الی اسفند ۱۳۹۹'
  },
  xAxis: {
    categories: [
      'فروردین',
      'اردیبهشت',
      'خرداد',
      'تیر',
      'مرداد',
      'شهریور',
      'مهر',
      'آبان',
      'آذر',
      'دی',
      'بهمن',
      'اسفند'
    ]
    },
    yAxis: {
        title: {
            text: 'امتیاز از ۵'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'میانگین امتیاز',
        data: [3.9, 4.2, 4.9, 3.5, 3.9, 3.2, 4.0, 4.6, 4.2, 3.3, 2.6, 3.8]
    }]
});



</script>
{% endblock %}