{% extends 'core/noheaderbase.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}

    <div style="padding: 5em 0">
        <div style="margin-bottom: 3em" id="form-section">
            <div id="auth-form" class="center-text" style="max-width: 352px; margin: auto">
                <a href="/">
                <h1 style="margin: auto; text-align: center">
               ساج | سامانه امداد جاده‌ای
                    </h1>
                    </a>
                <p class="ui hidden divider"></p>




                <div class="ui stacked segments" style="border: none; background: whitesmoke">


                        <div class="ui segment center-text">
                            <div class="ui small header">
                                فراموشی گذرواژه
                            </div>
                        </div>

    <div class="ui segment">
        <form class="ui large form" style="text-align: center" method="post" action="/password/reset/" novalidate>
            {% csrf_token %}
            <div class="field">
                <div class="ui right icon input">
                    <i class="id card icon"></i>
                    <input dir="ltr" id="phone" type="text" name="phone" autocomplete="phone" required="" placeholder="شماره موبایل">

                </div>

            </div>
            <button type="submit" class="ui fluid large primary submit button">درخواست بازیابی گذرواژه</button>
        </form>

    </div>


                        <div class="ui segment center-text">
                            <div class="ui horizontal link list">
    <a href="/login" class="item">ورود</a>

                            </div>
                        </div>

                </div>
            </div>
        </div>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('.ui.form').form({
                inline: true,
                fields: {
                    phone: {
                        identifier: 'phone',
                        rules: [
                            {type: 'empty', prompt: 'لطفا شماره موبایل خود را وارد کنید.'}
                        ]
                    }
                }
            });
        });
    </script>

    </div>


{% endblock %}