{% extends 'core/noheaderbase.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}

    <div style="padding: 5em 0">
        <div style="margin-bottom: 3em" id="form-section">
            <div id="auth-form" class="center-text" style="max-width: 352px; margin: auto">
                <a href="/">

                    <h1 style="margin: auto; text-align: center">
                        ساج | سامانه امداد جاده‌ای
                    </h1>
                </a>
                <p class="ui hidden divider"></p>

                <div class="ui stacked segments" style="border: none; background: whitesmoke">


                    <div class="ui segment center-text">
                        <div class="ui small header">
                            ثبت گذرواژه جدید
                        </div>
                    </div>

                    <div class="ui segment">
                        <form class="ui large form" style="text-align: center" method="post" action="" novalidate>
                            {% csrf_token %}
                            <div class="field">
                                {{ form.new_password1.errors }}
                                <div class="ui right icon input">
                                    <i class="lock icon"></i>
                                    <input dir="ltr" type="password" name="new_password1" placeholder="گذرواژه جدید">
                                </div>

                            </div>
                            <div class="field">
                                {{ form.new_password2.errors }}
                                <div class="ui right icon input">
                                    <i class="lock icon"></i>
                                    <input dir="ltr" type="password" name="new_password2" placeholder="تکرار گذرواژه جدید">
                                </div>

                            </div>
                            <button type="submit" class="ui fluid large primary submit button">ذخیره گذرواژه جدید
                            </button>
                        </form>

                    </div>


                    <div class="ui segment center-text">
                        <div class="ui horizontal link list">
                            <a href="/" class="item">بازگشت</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                $('.ui.form').form({
                    inline: true,
                    fields: {
                        password: {
                            identifier: 'password',
                            rules: [
                                {type: 'empty', prompt: 'لطفا گذرواژه جدید خود را وارد کنید.'}
                            ]
                        },
                        password2: {
                            identifier: 'password2',
                            rules: [
                                {type: 'empty', prompt: 'لطفا گذرواژه جدید خود را مجددا وارد کنید.'}
                            ]
                        }
                    }
                });
            });
        </script>

    </div>


{% endblock %}