{% extends 'core/noheaderbase.html' %}
{% load static %}
{% block content %}

    <div style="padding: 5em 0">
        <div style="margin-bottom: 3em" id="form-section">
            <div id="auth-form" class="center-text" style="max-width: 352px; margin: auto">
                <a href="/">

                <h1 style="margin: auto; text-align: center">
               ساج | سامانه امداد جاده‌ای
                    </h1>

                     </a>
                <p class="ui hidden divider"></p>


                <div class="ui stacked segments" style="border: none">


                        <div class="ui segment center-text">
                            <div class="ui small header">
                                ثبت‌نام مدیران
                            </div>
                        </div>

    <div class="ui segment">
        <form class="ui large form" style="text-align: center" method="post" action="/signup/" novalidate>
            {% csrf_token %}
            <div class="field">
                <div class="ui right icon input">
                    <i class="id card icon"></i>
                    <input dir="ltr" id="identification_number" type="text" name="identification_number" autocomplete="identification_number" required="" placeholder="کد ملی">

                </div>

            </div>
            <div class="field">
                <div class="ui right icon input">
                    <input dir="ltr" type="text" name="phone" autocomplete="phone" placeholder="شماره موبایل">

                    <i class="phone icon"></i>
                </div>

            </div>
            <div class="field">
                <div class="ui right icon input">
                    <i class="lock icon"></i>
                    <input dir="ltr" type="password" name="password" placeholder="گذرواژه">
                </div>

            </div>
             <div class="field">
                <div class="ui right icon input">
                    <i class="lock icon"></i>
                    <input dir="ltr" type="password" name="password2" placeholder="تکرار گذرواژه">
                </div>

            </div>

            <button type="submit" class="ui fluid large primary submit button">ثبت‌نام</button>
        </form>

    </div>


                        <div class="ui segment center-text">
                            <div class="ui horizontal link list">
    <a href="/password/reset" class="item">بازیابی گذرواژه</a>

                            </div>
                        </div>

                </div>
            </div>
        </div>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('.ui.form').form({
                inline: true,
                fields: {
                    identification_number: {
                        identifier: 'identification_number',
                        rules: [
                            {type: 'empty', prompt: 'لطفا کد ملی خود را وارد کنید.'}
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [
                            {type: 'empty', prompt: 'لطفا گذرواژه خود را وارد کنید.'}
                        ]
                    },
                    password2: {
                        identifier: 'password2',
                        rules: [
                            {type: 'empty', prompt: 'لطفا تکرار گذرواژه خود را وارد کنید.'}
                        ]
                    }
                }
            });
        });
    </script>

    </div>


{% endblock %}